In [1]:
import seaborn as sns
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
dc = pd.read_json('data.txt', encoding='unicode_escape')

In [3]:
dc.head()

,name,total_cases,new_cases,total_deaths,new_deaths,total_recovered,active_cases
0,New York,"7,239","+1,872",39,+5,,"7,200"
1,Washington,"1,378",+2,74,,102,"1,202"
2,California,"1,085",+76,19,,6,"1,060"
3,New Jersey,742,,9,,,733
4,Florida,520,+103,11,+2,,509

In [ ]:
sns.barplot(x='name', y=int('total_deaths'.replace(',','')), data=dc)